In [ ]:
# import library
import pandas as pd
import numpy as np

import re
import datetime

import warnings
warnings.simplefilter("ignore")

pd.pandas.set_option('display.max_columns',None)

In [ ]:
zika = pd.read_csv('infection_ecuador.csv')
latlong = pd.read_csv('latlong.csv', usecols=['location', 'latitude', 'longitude'])
popden = pd.read_csv('popden.csv')

In [ ]:
latlong

                                       location   latitude   longitude
0                        Argentina-Buenos_Aires -34.603684  -58.381559
1                                Argentina-CABA -34.603684  -58.381559
2                             Argentina-Cordoba -31.420083  -64.188776
3                          Argentina-Entre_Rios -31.774665  -60.495646
4                            Argentina-Santa_Fe -31.610658  -60.697294
...                                         ...        ...         ...
1709    United_States-Florida-Washington_County  47.751074 -120.740139
1710               United_States_Virgin_Islands  18.335765  -64.896335
1711  United_States_Virgin_Islands-Saint_Thomas  18.338096  -64.894095
1712   United_States_Virgin_Islands-Saint_Croix  17.724597  -64.834799
1713    United_States_Virgin_Islands-Saint_John  18.356343  -64.700136

[1714 rows x 3 columns]

In [ ]:
arg_latlong = latlong[latlong["location"].str.startswith("Ecuador")]
arg_latlong

                        location  latitude  longitude
1287        Ecuador-Azuay-Cuenca -2.900129 -79.005896
1288             Ecuador-Bolivar -1.709583 -79.045043
1289  Ecuador-Chimborazo-Chunchi -2.289824 -78.921752
1290            Ecuador-Cotopaxi -0.683754 -78.437190
1291   Ecuador-El_Oro-Huaquillas -3.476382 -80.222545
...                          ...       ...        ...
1349               Ecuador-Canar -2.558931 -78.938819
1350            Ecuador-Imbabura  0.349977 -78.126013
1351              Ecuador-Carchi  0.502691 -77.904252
1352  Ecuador-Manabi-Montecristi -1.045225 -80.658820
1353          Ecuador-Tungurahua -1.470203 -78.444806

[67 rows x 3 columns]

In [ ]:
arg_popden = popden[popden["location"].str.startswith("Ecuador")]
arg_popden

                        location  density_per_km
1287        Ecuador-Azuay-Cuenca     5303.006836
1288             Ecuador-Bolivar      151.370636
1289  Ecuador-Chimborazo-Chunchi       67.442154
1290            Ecuador-Cotopaxi       42.956070
1291   Ecuador-El_Oro-Huaquillas     1374.493652
...                          ...             ...
1349               Ecuador-Canar      190.829880
1350            Ecuador-Imbabura      683.337158
1351              Ecuador-Carchi       56.011559
1352  Ecuador-Manabi-Montecristi      121.264366
1353          Ecuador-Tungurahua      114.057251

[67 rows x 2 columns]

In [ ]:
df_arg1 = pd.merge(zika, arg_popden, on=['location'])
df_arg1

,report_date,location,data_field,cases,density_per_km
0,2016-03-30,Ecuador-Manabi,total_zika_suspected_cumulative,9.0,621.662354
1,2016-04-06,Ecuador-Manabi,total_zika_suspected_cumulative,19.0,621.662354
2,2016-04-13,Ecuador-Manabi,total_zika_suspected_cumulative,22.0,621.662354
3,2016-04-20,Ecuador-Manabi,total_zika_suspected_cumulative,14.0,621.662354
4,2016-04-27,Ecuador-Manabi,total_zika_suspected_cumulative,26.0,621.662354
...,...,...,...,...,...
1780,2017-10-18,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836
1781,2017-10-25,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836
1782,2017-10-31,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836
1783,2017-11-08,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836
1784,2017-11-15,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836

In [ ]:
df_arg = pd.merge(df_arg1, arg_latlong, on=['location'])
df_arg

,report_date,location,data_field,cases,density_per_km,latitude,longitude
0,2016-03-30,Ecuador-Manabi,total_zika_suspected_cumulative,9.0,621.662354,-1.054343,-80.452644
1,2016-04-06,Ecuador-Manabi,total_zika_suspected_cumulative,19.0,621.662354,-1.054343,-80.452644
2,2016-04-13,Ecuador-Manabi,total_zika_suspected_cumulative,22.0,621.662354,-1.054343,-80.452644
3,2016-04-20,Ecuador-Manabi,total_zika_suspected_cumulative,14.0,621.662354,-1.054343,-80.452644
4,2016-04-27,Ecuador-Manabi,total_zika_suspected_cumulative,26.0,621.662354,-1.054343,-80.452644
...,...,...,...,...,...,...,...
1780,2017-10-18,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834
1781,2017-10-25,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834
1782,2017-10-31,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834
1783,2017-11-08,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834
1784,2017-11-15,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834

In [ ]:
# df_arg.to_csv('argentine_population_latlong.csv')

In [ ]:
arg_weather = pd.read_csv('ecuador_weather.csv')
arg_weather

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,sunset,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2016-03-30,19,8,0.0,11.6,3,47,No moonrise,11:43 AM,06:18 AM,06:22 PM,9,13,13,13,8,19,82,3.5,1014,19,9,93,6,Ecuador-Azuay-Cuenca
1,2016-03-31,13,8,0.0,11.6,3,43,12:01 AM,12:33 PM,06:17 AM,06:22 PM,9,11,11,11,6,28,89,7.6,1016,13,9,78,4,Ecuador-Azuay-Cuenca
2,2016-04-01,19,8,0.0,11.6,3,26,12:53 AM,01:25 PM,06:17 AM,06:22 PM,9,12,12,12,7,19,81,4.3,1016,19,10,77,5,Ecuador-Azuay-Cuenca
3,2016-04-02,20,8,0.0,11.6,3,19,01:46 AM,02:17 PM,06:17 AM,06:21 PM,9,13,13,13,5,27,80,11.5,1014,20,9,172,4,Ecuador-Azuay-Cuenca
4,2016-04-03,19,7,0.0,11.6,3,11,02:39 AM,03:11 PM,06:17 AM,06:21 PM,9,12,12,12,4,26,83,14.9,1014,19,9,154,3,Ecuador-Azuay-Cuenca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40523,2017-11-11,25,16,0.0,12.6,6,39,12:45 AM,01:00 PM,05:51 AM,06:10 PM,11,20,20,20,5,19,56,0.1,1011,25,10,182,4,Ecuador-Zamora-Chinchipe
40524,2017-11-12,26,16,0.0,12.6,6,31,01:35 AM,01:51 PM,05:51 AM,06:11 PM,12,20,20,20,5,22,60,0.0,1011,26,10,181,4,Ecuador-Zamora-Chinchipe
40525,2017-11-13,27,16,0.0,12.6,5,24,02:21 AM,02:40 PM,05:51 AM,06:11 PM,12,21,21,20,5,23,60,0.8,1012,27,10,200,4,Ecuador-Zamora-Chinchipe
40526,2017-11-14,25,16,0.0,12.6,5,16,03:06 AM,03:27 PM,05:51 AM,06:11 PM,12,20,20,20,5,22,62,2.4,1012,25,9,170,4,Ecuador-Zamora-Chinchipe
40527,2017-11-15,26,15,0.0,12.6,5,8,03:50 AM,04:13 PM,05:51 AM,06:11 PM,11,20,20,20,7,16,59,0.6,1012,26,10,191,5,Ecuador-Zamora-Chinchipe

In [ ]:
new = arg_weather.rename(columns={'date_time': 'report_date'})
new.head()

,report_date,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,sunset,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2016-03-30,19,8,0.0,11.6,3,47,No moonrise,11:43 AM,06:18 AM,06:22 PM,9,13,13,13,8,19,82,3.5,1014,19,9,93,6,Ecuador-Azuay-Cuenca
1,2016-03-31,13,8,0.0,11.6,3,43,12:01 AM,12:33 PM,06:17 AM,06:22 PM,9,11,11,11,6,28,89,7.6,1016,13,9,78,4,Ecuador-Azuay-Cuenca
2,2016-04-01,19,8,0.0,11.6,3,26,12:53 AM,01:25 PM,06:17 AM,06:22 PM,9,12,12,12,7,19,81,4.3,1016,19,10,77,5,Ecuador-Azuay-Cuenca
3,2016-04-02,20,8,0.0,11.6,3,19,01:46 AM,02:17 PM,06:17 AM,06:21 PM,9,13,13,13,5,27,80,11.5,1014,20,9,172,4,Ecuador-Azuay-Cuenca
4,2016-04-03,19,7,0.0,11.6,3,11,02:39 AM,03:11 PM,06:17 AM,06:21 PM,9,12,12,12,4,26,83,14.9,1014,19,9,154,3,Ecuador-Azuay-Cuenca

In [ ]:
df_argentina = pd.merge(df_arg, new, on=['location', 'report_date'])
df_argentina

,report_date,location,data_field,cases,density_per_km,latitude,longitude,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,sunset,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2016-03-30,Ecuador-Manabi,total_zika_suspected_cumulative,9.0,621.662354,-1.054343,-80.452644,29,26,0.0,11.6,6,47,No moonrise,11:48 AM,06:24 AM,06:30 PM,24,31,31,27,13,47,86,13.8,1011,29,9,223,9
1,2016-04-06,Ecuador-Manabi,total_zika_suspected_cumulative,19.0,621.662354,-1.054343,-80.452644,29,25,0.0,8.8,6,0,05:34 AM,06:00 PM,06:22 AM,06:28 PM,23,29,29,26,13,63,85,0.3,1010,29,10,243,10
2,2016-04-13,Ecuador-Manabi,total_zika_suspected_cumulative,22.0,621.662354,-1.054343,-80.452644,28,23,0.0,8.8,6,41,12:14 PM,No moonset,06:20 AM,06:26 PM,21,27,27,25,13,54,81,0.2,1011,28,10,216,9
3,2016-04-20,Ecuador-Manabi,total_zika_suspected_cumulative,14.0,621.662354,-1.054343,-80.452644,28,24,0.0,11.6,6,94,05:33 PM,05:11 AM,06:19 AM,06:24 PM,22,28,28,25,14,47,80,0.3,1010,28,10,217,10
4,2016-04-27,Ecuador-Manabi,total_zika_suspected_cumulative,26.0,621.662354,-1.054343,-80.452644,29,24,0.0,11.6,7,53,10:57 PM,10:33 AM,06:18 AM,06:23 PM,21,28,28,26,14,37,75,0.0,1010,29,10,232,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780,2017-10-18,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834,14,10,0.0,12.5,3,4,05:07 AM,05:29 PM,05:56 AM,06:06 PM,9,11,12,11,13,47,86,0.3,1014,14,10,83,10
1781,2017-10-25,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834,20,8,0.0,12.5,4,32,10:27 AM,10:59 PM,05:54 AM,06:06 PM,9,13,13,13,13,16,75,0.2,1014,20,10,99,10
1782,2017-10-31,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834,21,10,0.0,12.5,5,72,03:17 PM,02:54 AM,05:53 AM,06:06 PM,6,15,15,15,7,8,56,0.1,1013,21,10,194,5
1783,2017-11-08,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834,20,8,0.0,12.5,4,61,10:52 PM,10:13 AM,05:53 AM,06:07 PM,10,14,14,14,10,15,75,0.6,1012,20,10,140,7
1784,2017-11-15,Ecuador-Azuay,total_zika_confirmed_cumulative,2.0,5303.006836,-2.894307,-78.996834,18,12,0.0,12.6,3,8,03:49 AM,04:12 PM,05:53 AM,06:08 PM,10,15,15,15,7,17,73,10.5,1013,18,9,129,6

In [ ]:
df_argentina.to_csv('merged_ecuador.csv', index=False)