# Data Cleaning of all countries ( one by one )
old folder --> clean folder

In [1]:
try:
    import pandas as pd
    from glob import glob
    import os
    print("All modules are ok ......")
except Exception as e:
    print("Error  {} ".format(e))

All modules are ok ......

In [3]:
def tranfrom_data(data): 
    '''Transform dataset - Drop unnecessary columns'''
    
    if (("Unnamed: 10" in data) == True) and (("Unnamed: 9" in data) == True) and (("ï»¿report_date" in data) == True):
        data['report_date'].fillna(data['ï»¿report_date'], inplace=True)
        data = data.drop(['Unnamed: 10','Unnamed: 9','ï»¿report_date'], axis = 1)

    elif ("Unnamed: 9" in data) == True and ("ï»¿report_date" in data) == True:
        data['report_date'].fillna(data['ï»¿report_date'], inplace=True)
        data = data.drop(['Unnamed: 9','ï»¿report_date'], axis = 1)

    elif ("ï»¿report_date" in data) == True:
        data['report_date'].fillna(data['ï»¿report_date'], inplace=True)
        data = data.drop(['ï»¿report_date'], axis = 1)

    elif ("Unnamed: 9" in data) == True:
        data = data.drop(['Unnamed: 9'], axis = 1)
    
    # drop unnecessary columns
    data = data.drop(['data_field_code','time_period','time_period_type','unit','location_type'], axis = 1)
  
    # rename col
    data = data.rename(columns = {'value':'cases'})
    
    return data

## Merge all countries csv files

In [5]:
stock_files = sorted(glob('Zika_dataset/Zika_Data_Repo/US_Virgin_Islands/*.csv'))
data = pd.concat((pd.read_csv(file, encoding='cp1252')
                      for file in stock_files), ignore_index=True)
data.to_csv("Zika_dataset/Old_data/virgin_island.csv",index=False)
print("Success...")

Success...

In [307]:
# read the dataset
df = pd.read_csv('Zika_dataset/Old_data/virgin_island.csv')
df.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit,ï»¿report_date
0,2016-01-27,United_States-Puerto_Rico,territory,zika_confirmed_4weeks,PR0001,NaN,NaN,15.0,cases,NaN
1,2016-01-27,United_States-Puerto_Rico,territory,zika_confirmed_cumulative_2016,PR0003,NaN,NaN,9.0,cases,NaN
2,2016-01-27,United_States-Puerto_Rico,territory,flavi_confirmed_cumulative_2016,PR0005,NaN,NaN,0.0,cases,NaN
3,2016-01-27,United_States-Puerto_Rico,territory,zika_confirmed_cumulative_2015-2016,PR0006,NaN,NaN,18.0,cases,NaN
4,2016-01-27,United_States-Puerto_Rico,territory,zika_confirmed_pregnant_cumulative_2015-2016,PR0007,NaN,NaN,0.0,cases,NaN

### Select data fields

In [310]:
df = df.loc[df.data_field.isin(['zika_confirmed_4weeks'])]

### Clean the dataset

In [311]:
new_df = tranfrom_data(df)

In [312]:
new_df.head()

   report_date                   location             data_field  cases
0   2016-01-27  United_States-Puerto_Rico  zika_confirmed_4weeks   15.0
10  2016-02-04  United_States-Puerto_Rico  zika_confirmed_4weeks   15.0
20  2016-04-06  United_States-Puerto_Rico  zika_confirmed_4weeks  136.0
30  2016-04-13  United_States-Puerto_Rico  zika_confirmed_4weeks  199.0
40  2016-04-20  United_States-Puerto_Rico  zika_confirmed_4weeks  197.0

### Arrange dataset

In [313]:
# arrange data
df_zika = new_df.groupby(['report_date','location','data_field']).cases.agg([sum])
# reset index
df_zika = df_zika.reset_index()
# Rename column
df_zika = df_zika.rename(columns = {'sum':'cases'})
df_zika = df_zika.sort_values('report_date', ascending=True)

## Export Dataset

In [314]:
df_zika.to_csv('Zika_dataset/Clean_data/infection_virgin_island.csv',index=False)