In [ ]:
from numpy import absolute
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor

In [ ]:
data = pd.read_csv('regression_dataset.csv')
data.head()

   cases   latitude  longitude  maxtempC  ...  year  month  density_per_km  precipMM
0      2 -34.603684 -58.381559        24  ...  2016      3        0.505636       0.0
1      0 -34.603684 -58.381559        24  ...  2016      3        0.505636       0.0
2      1 -34.603684 -58.381559        24  ...  2016      3        0.505636       0.0
3      0 -34.603684 -58.381559        22  ...  2016      4        0.505636       0.0
4      1 -34.603684 -58.381559        22  ...  2016      4        0.505636       0.0

[5 rows x 25 columns]

In [ ]:
X = data[['maxtempC', 'mintempC', 'windspeedKmph', 'year', 'month', 'density_per_km', 'precipMM', 'cloudcover',
       'humidity','DewPointC', 'latitude', 'longitude','FeelsLikeC', 'winddirDegree', 'sunHour']]
y = data['cases']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
# define model
model = XGBRegressor()
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X_train, y_train, scoring='r2', cv=cv, n_jobs=-1)

In [ ]:
print('Mean r2:', scores.mean() )

Mean r2: -0.005342674348415673